// VARIABLES ----------------------------------------------------------------


// Colors -->
$red-color: #c1262c;
$black-color: #000;
$blue-color: #151827;
$gray-color: #1b1b1b;
$light-gray-color: #939393;
$pink-color: #ce7888;